numpy
torch
h5py
sklearn
scikit-learn
matplotlib
opencv-python
seaborn
pandas
xmltodict
networkx
torchvision
transformers
tqdm
Pillow
nlpaug
spacy
entmax
stanfordcorenlp
googletrans
tokenizers
openai
scipy
gpt
datasets
evaluate
dataclasses
rouge